body, html {
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
    font-family: 'DM Serif Display', serif;
    color: #333;
}

.faq-question {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    font-size: 1.1em;
    font-weight: bold;
    padding: 15px;
    border-bottom: 1px solid #bbb;
    cursor: pointer;
    transition: background 0.3s ease;
}

.faq-question:hover {
    background-color: #e6ece9;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    padding: 0 15px;
    background-color: #f8f8f8;
}

.faq-answer p {
    margin: 10px 0;
    font-size: 0.95em;
}
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 85, 85, 0.9); /* Couleur avec opacité */
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.menu-overlay.active {
    transform: translateX(0);
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.menu-content a {
    font-family: 'DM Serif Display', serif;
    font-size: 1.3rem;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-content a:hover {
    background-color: white;
    color: #004d4d;
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

