.historique-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
    max-width: 1000px;
    margin: 100px auto;
}


.historique-card {
    flex: 0 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.historique-card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
}

.historique-card h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.historique-card p {
    margin: 4px 0;
    font-size: 0.85em;
}

.historique-card button {
    margin-top: 10px;
    padding: 6px 12px;
    background-color: #f29066;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.avis-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* fond sombre */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.avis-popup-bulle {
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    text-align: center;
}


.avis-popup-bulle textarea {
    width: 90%;
    height: 80px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    font-size: 1em;
}

.avis-popup-bulle select {
    margin-top: 10px;
    padding: 8px;
    border-radius: 10px;
    font-size: 1em;
}

.avis-popup-bulle button {
    margin: 10px 5px 0;
    padding: 10px 20px;
    background-color: #f29066;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.avis-popup-bulle button:last-of-type {
    background-color: #aaa;
}

.bouton-bas{
    margin-top: auto;
    padding: 20px 0;
    text-align: center;
    background-color: #c5d8d3;
    position: sticky;
    bottom: 0;
    z-index: 10;
}

.btn-vider-historique {
    display: block;
    margin: 0 auto 10px auto; /* centre horizontalement */
    padding: 5px 10px;
    background-color: rgba(87, 117, 80, 0.84);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 10px;
    cursor: pointer;
    font-family: 'DM Serif Display', serif;
    width: fit-content;
}


@media screen and (max-width: 768px) {
    .historique-card {
        width: 90%;
    }
}