html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* empêche que body lui-même scroll */
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}


main.contenu-scrollable {
    position: absolute;
    top: 130px; /* même que header */
    bottom: 60px; /* même que footer */
    left: 0;
    right: 0;
    overflow-y: auto;
    padding: 20px;
}

.bouton-bas {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.formulaire-connexion {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.champ {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.champ img {
    width: 24px;
    height: auto;
}

.champ input {
    width: 280px;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background-color: #e6ece9;
    font-size: 1em;
    text-align: center;
}

.inscription {
    margin-top: 5px;
    padding: 12px 24px;
    background-color: rgba(242, 144, 102, 0.8);
    color: white;
    font-size: 1em;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.connexion {
    margin-top: 15px;
    font-size: 0.9em;
    color: #ee9c72;
    font-family: 'DM Serif Display', cursive;
    text-align: center;
    text-decoration: none;
}

.conditions-general {
    display: flex;
    align-items: center; /* pour aligner verticalement */
    justify-content: center; /* pour centrer horizontalement */
    gap: 8px; /* espace entre le carré et le texte */
    margin-top: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 0.85em;
    color: #0000009E;
    font-family: 'DM Serif Display', serif;
    margin-top: 10px;
}

.checkbox-container input {
    display: none; /* cacher la vraie case */
}

.checkmark {
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid #335533;
    border-radius: 4px;
    margin-right: 10px;
}

.checkbox-container input:checked + .checkmark::after {
    content: "";
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #335533;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.message-area {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    font-family: sans-serif;
}
.message-area.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.message-area.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
.message-area ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.message-area li {
    margin-bottom: 5px;
}

