body {
    background: url("images/fond-bateau.png") no-repeat center center fixed;
    background-size: cover;
    font-family: 'DM Serif Display', serif;
}


.formulaire-connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centrage vertical */
    min-height: 60vh; /* hauteur minimum pour placement */
}


.champ {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.champ img {
    width: 24px;
    height: auto;
}

.champ input {
    width: 500px;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background-color: #e6ece9;
    font-size: 1em;
    text-align: center;
}

.champ-double {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.champ-double input {
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    background-color: #e6ece9;
    width: 230px;
    padding: 12px;
    font-size: 0.95em;
}

.champ-trois {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.champ-trois input {
    border-radius: 20px;
    border: none;
    background-color: #e6ece9;
    width: 230px;
    padding: 12px;
    font-size: 0.95em;
}

.background {
    margin-top: 60px;
    background-color: rgba(197, 216, 211, 0.8);
    border-radius: 20px;
    border: none;
    padding: 20px 20px;
}

.connexion {
    margin-top: -5px;
    padding: 12px 24px;
    background-color: rgba(242, 144, 102, 0.8);
    color: white;
    font-size: 1em;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.connexion:hover {
    background-color: rgba(242, 144, 102, 1);
}

.inscription {
    margin-top: 15px;
    font-size: 0.9em;
    color: #ee9c72;
    font-family: 'DM Serif Display', cursive;
    text-align: center;
}

.mdp-oublier {
    margin-top: 10px;
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.62);
    font-family: 'DM Serif Display', cursive;
    text-align: center;
}

.bouton-type {
    width: 230px; /* même largeur que les champs input */
    background-color: #e6ece9;
    border: none;
    border-radius: 20px;
    padding: 12px;
    font-size: 0.95em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'DM Serif Display', serif;
    text-align: center;
}


.bouton-type.active {
    background-color: rgba(242, 144, 102, 0.9);
    color: white;
}
