body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #c5d8d3;
}

.double-carrousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 100px auto;
}


.carrousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    position: relative;
    margin: 20px;
}


.slides {
    width: 100%;
    position: relative;
}

.slide {
    display: none;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.slide.active {
    display: block;
}

.description {
    margin-top: 10px;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'DM Serif Display', serif;
    text-decoration: none;
}

.prev, .next {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: #335533;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 2;
}

.prev {
    left: -25px;
}

.next {
    right: -25px;
}

.background {
    background-color: rgba(255, 255, 255, 0.82);
    border-radius: 20px;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 0.95em;
}

.ligne-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 0.9em;
    padding: 0 10px;
}

@media screen and (max-width: 768px) {
    .carrousel {
        width: 90%;
    }

    .prev, .next {
        display: none;
    }
}