* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'DM Serif Display', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#historique-container {
    flex: 1; /* pour pousser le footer vers le bas */
}
/* FOND FIXE */
.background-fixe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('images/fond-bateau.png');
    background-size: cover;
    background-position: center;
    z-index: 0;
}

/* SECTIONS */
.section-accueil {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    background: transparent;
}

.texte {
    padding: 20px 30px;
    border-radius: 15px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.texte-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1px;
    text-align: center;
}


.texte.principal {
    font-size: 3em;
    font-weight: bold;
    color: #ee9c72;
    font-family: 'Lobster', sans-serif;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.texte.secondaire {
    font-size: 1em;
    color: white;
    background-color: #623E2A;
    font-family: 'DM Serif Display', sans-serif;
    padding: 0.2em 0.6em;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
}

/* CARROUSEL CENTRÉ */
.carre-carousel-slide {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
}

.carre-track-slide {
    display: flex;
    width: fit-content;
    height: 400px;
    transition: transform 0.6s ease-in-out;
}

.carre-track-slide a {
    display: block;
    width: 400px;
    height: 400px;
    flex-shrink: 0;
}

.carre-track-slide img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* LANGUES */
.language-selector {
    position: relative;
}

.drapeau-icon {
    width: 20px;
    height: auto;
    cursor: pointer;
}

.lang-dropdown {
    position: absolute;
    top: 25px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: none;
    padding: 5px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.drapeau-option {
    width: 30px;
    height: auto;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.drapeau-option:hover {
    transform: scale(1.1);
}

/* TOP FIXE */
.top-right, .top-left, .top-center {
    position: fixed;
    z-index: 10;
}

.top-right {
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.75em;
    text-decoration: none;
    font-family: 'DM Serif Display', sans-serif;
}

.top-left {
    top: 15px;
    left: 10px;
    z-index: 1001;
    cursor: pointer;
}

.top-center {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.top-right img,
.top-left img,
.top-center img {
    width: 20px;
    height: auto;
}

.top-infos {
    color: #e0e0d5;
    font-family: 'DM Serif Display', sans-serif;
    font-size: 0.95em;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    text-decoration: none;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('images/fond-bateau.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* BAS FIXE */
.bottom-center {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    z-index: 10;
}

.bouton-bas{
    margin-top: auto;
    padding: 20px 0;
    text-align: center;
    background-color: #c5d8d3;
    position: sticky;
    bottom: 0;
    gap: 20px;
    z-index: 10;
}


.bottom-text {
    color: #e0e0d5;
    font-family: 'DM Serif Display', sans-serif;
    font-size: 0.85em;
    background-color: transparent;
    text-decoration: none;
}

.logo-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-slogan {
    margin-top: 5px;
    font-size: 0.9em;
    color: #ee9c72;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.page-title {
    margin-top: 10px;
    font-size: 2em;
    color: #2F4F2F;
    font-family: 'DM Serif Display', serif;
    text-align: center;
}


.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 51, 51, 0.85);
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.menu-overlay.active {
    transform: translateX(0%);
}

.menu-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.menu-content a {
    font-family: 'DM Serif Display', serif;
    font-size: 1.3rem;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.menu-content a:hover {
    background-color: white;
    color: #003333;
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.carte {
    width: 250px;
    height: 250px;
    display: block;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.section-bateau {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 0 20px; /* un peu d’air sur les côtés */
}


.contenu-bateau {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
    right: 140px;
}


#carte {
    width: 100%;
    height: 100%;
    z-index: 4;
}

