body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c8d8d3;
    color: #333;
}


/* Titre */
h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 2.5rem;
    color: #4a4a4a;
    font-family: 'Georgia', serif;
}

/* Carte */
.carte-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;  /* Centre horizontalement */
    align-items: center;      /* Centre verticalement */
    padding: 40px 0;          /* Espace autour si besoin */
    width: 100%;
}

#map {
    width: 90%;
    max-width: 800px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


/* Popups */
.popup-content h3 {
    margin: 5px 0;
    font-size: 1.2rem;
}

.popup-content p {
    margin: 5px 0;
    font-size: 0.95rem;
}


/* Pied de page */
footer {
    text-align: center;
    margin-top: 30px;
    padding: 20px 0;
    font-size: 0.9rem;
}

footer a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
}



/* Responsive */
@media screen and (max-width: 600px) {
    .top-right {
        flex-direction: column;
        align-items: flex-end;
        margin-top: 50px;
    }

    .top-infos {
        font-size: 0.8rem;
    }

    #map {
        height: 400px;
    }

    h1 {
        font-size: 2rem;
    }
}
